@font-face{
  font-family: doge;
  src: url("../font/DogeSans-Regular.otf");
}
@media only screen and (max-width: 767px) {
  #leftCol {
    display: none;
  }
}
.navbar-inverse {
  background-color: rgb(40,0,0) !important;
}

#navbar-blackboard {
  text-align: center;
  color: rgb(40,0,0);
  margin-top: 125%;
  margin-left: 45%;
  position: relative;
  writing-mode: vertical-rl;
  font-size: xx-large;
}

::selection {
  background-color: rgb(236,168,165);
  color: rgb(253,249,246);
}

body {
  font-family: 'Merriweather', serif;
  letter-spacing: 0.025em;
  position: relative;
  overflow: auto;
  font-size: 14px;
  background-color: rgb(250,244,238); /*#f9f9f9;*/ /* rgb(240,194,189)*/
  color: rgb(40,0,0); /*rgb(254,248,246);*/
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  padding-top: 1ex;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  padding-top: 1.5ex;
}

h5 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

#leftCol{
  font-size: 1.2em;
}
.h2Size {
  font-size: 1.28em;
  /*font-family: 'Roboto Slab', serif;*/
  margin-bottom: 0.25em;
}

a:hover{
  background-color: rgb(236,168,165);
  color: rgb(253,249,246);
}

a {
  color: rgb(40,0,0);
}

.small-margin-top{
  margin-top: 1.25em;
}

.hovermouse:hover {
  background-color: rgb(236,168,165);
  color: rgb(253,249,246);
  cursor: help;
}

.float-right{
  float: right;
}

.panel-body p {
 text-align: justify;
}

.nav-headline {
  letter-spacing: 0.5px;
  /*font-family: 'Roboto Slab', serif;*/
}

.navhead {
  color: rgb(40,0,0);
}

.sm-width {
  width: 4.8em;
}

.btn-default{
  background-color: rgb(250,244,238); !important;
  color: rgb(40,0,0);
}

.btn-default:hover {
  background-color: rgb(236,168,165);
  color: rgb(253,249,246);
}

.p-justify {
  text-align: justify;
  hyphens: auto;
}

.small-caps{
  font-variant: small-caps;
};

/* tricks */
.v-center {
  position: relative;
  transform: translateY(50%);
}

.v-centerA {
  position: absolute;
  top: 45%;
  text-align: center;
}

.no-border {
   border: none !important;
}

.no-border li {
  border: none !important;
}

.no-border a{
  border: none !important;
}

/*****/
.fontFlake{
  position:fixed;
  top:-50px;
  left:0px;
  z-index:10;
  position:block;
}

