@font-face{
  font-family: doge;
  src: url("../font/DogeSans-Regular.otf");
}


.navbar-inverse {
  background-color: #161616 !important;
}


#navbar{
  font-size: smaller;
}

body {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.025em;
  position: relative;
  overflow: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6em;
  background-color: #f9f9f9;
  color: rgba(0,0,0,1);
}

h2 {
  padding-top: 1ex;
}

h4 {
  padding-top: 2ex;
}

#leftCol{
  font-size: 1.2em;
}

.h2Size {
  font-size: 1.28em;
  /*font-family: 'Roboto Slab', serif;*/
  margin-bottom: 0.25em;
}

a:hover{
  background-color:#f3ffff;
}

a{
  color: #000000;
}

.small-margin-top{
  margin-top: 1.25em;
}

.hovermouse:hover {
  background-color:#f3ffff;
  cursor: help;
}

.float-right{
  float: right;
}

.panel-body p {
 text-align: justify;
}

.nav-headline {
  letter-spacing: 0.5px;
  /*font-family: 'Roboto Slab', serif;*/
}

.navhead {
  color: #cccccc;
}

.sm-width {
  width: 4.8em;
}

.btn-default{
  background-color: #f9f9f9 !important;
}

.p-justify {
  text-align: justify;
  hyphens: auto;
}

.small-caps{
  font-variant: small-caps;
};

/* tricks */
.v-center {
  position: relative;
  transform: translateY(50%);
}

.v-centerA {
  position: absolute;
  top: 45%;
  text-align: center;
}

#navbar-blackboard {
  text-align: center;
  color: #161616;
  padding-top: 15%;
  padding-bottom: 15%;
}

.no-border {
   border: none !important;
}

.no-border li {
  border: none !important;
}

.no-border a{
  border: none !important;
}

/*****/
.fontFlake{
  position:fixed;
  top:-50px;
  left:0px;
  z-index:10;
  position:block;
}
